* {
  box-sizing: border-box;
}


.main-bit{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding-left: 40%; */
}

.main-bit>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  background-color: rgb(173, 252, 255);
  margin: 1rem;
  border-radius: 2rem;
  padding: 2rem;
  height: 30px;
  box-shadow: 0px 0px 12px #18191b;;
}

.coin-image{
  height : 30px
}

.coin-name{
  color: blue;
}